*{
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
    width: 100%;
  }
  li {
    float: left;
    margin: 0rem;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.1rem 2.5rem;
    text-decoration: none !important;
  }
  li a:hover:not(.active) {
    background-color: rgb(17, 17, 17);
    color: white;
  }
  .active {
    background-color: #e5f3ee;
    color:blue ;
  }
  
  .header{
      margin-top:6%;
      margin-bottom: 6%;
  }
.header h1{
text-align: center;
font-size: 3rem;
max-width: 100%;
}
.header h5 span{
    color:rgb(103, 226, 226);
}
.header h5{
    margin-top: 0rem;
    margin-left: 40%;
}
#Placestovisit h1{
    margin-top:2rem;
size:2rem;
text-align: center;
margin-bottom: 2rem;
}
#row1{
    margin-bottom: 1rem;
}
#Placestovisit h2{
    size:0.5rem;
}
#Foodtoeat h1{
  margin-top: 1rem;
  
}
#text-center1{
 color: coral !important; 
 text-decoration: underline !important;
}
#foods{
  margin-left: 1rem;
  border: 3px solid black;
}
#durgapuja h1{
  text-decoration: underline;
  color: yellowgreen;
}
#durgapuja h5{
  padding:2rem;
}
footer{
  padding-top:10rem;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 10rem;
  background-color: rgb(63, 61, 61);
  color: white;
}

